.container {
  margin: var(--margin-section) 0;
  @media (max-width: 600px) {
    margin: 4rem 0;
  }
}

.header {
  font-size: var(--header-style);
  margin-bottom: var(--padding-sm);
  color: var(--heading);
  @media (max-width: 600px) {
    font-size: 2.5rem;
  }
}

.subContent {
  font-size: var(--mainContent-size);
  margin-bottom: 3rem;
}
