:root {
    --circle-size: 70rem;
}

.circleBg {    
    position: absolute;
    bottom: 30%;
    right: 30%;
    width: var(--circle-size);
    height: var(--circle-size);
    background-color: var(--circle-color);
    z-index: -1;
    border-radius: 50%;
}

.layoutContainer {
    padding: 0 var(--padding-lg);
    @media (max-width: 700px) {
        padding: 0 var(--padding-sm);
    }
}