.projHeader {
    color: var(--heading-first) !important;
}


.categories {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    &__category {
        margin: 5px 10px;
        padding: 5px 10px;
        background-color: var(--categoryBtnBg);
        border: 1px solid var(--categoryBtnBorder);
        color: var(--categoryBtnText);
        &:hover {
            cursor: pointer;
        }
        &--active {
            background-color: var(--categoryBtnBgFocus);
            color: var(--categoryBtnTextFocus);
        }
    }
}


.projectsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width: 880px) {grid-template-columns: 1fr 1fr;}
    @media (max-width: 550px) {grid-template-columns: 1fr;}

    &__card {
        background-color: var(--projCardBg);
        border: 2px solid var(--projCardBorder);
        padding: 1.5rem;
        margin: 0.5rem;
        display: grid;
        grid-template-rows: auto 1fr auto;
        position: relative;
        &__name {
            color: var(--projCardHeading);
        }
        &__desc {
            color: var(--projCardText);
            margin-bottom: 2rem;
        }
        &__stacks {
            color: var(--projCardSubText);
            font-size: 12px;
            span {
                margin-right: 1rem;
            }
        }
        &:hover {
            border: 2px solid var(--projCardBorderHover);
            cursor: pointer;
            &:after {
                content: '';
                position: absolute;
                top: 0px;
                right: 0px;
                border: 11px solid transparent;
                border-bottom-color: var(--projCardBorderHover);
                transform: rotate(45deg);
            }
        }

        &--fav {
            background-color: var(--projCardFavBg);
            border: 2px solid var(--projCardFavBg);
            .projectsGrid__card {
                &__name, &__desc, &__stacks {
                    color: var(--projCardFavText);
                }
            }
            i {
                color: var(--projCardFavBorder);
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 1.2rem;
            }
            &:hover {
                border: 2px solid var(--projCardFavBorder);
                i {
                    display: none;
                }
                &:after {
                    border-bottom-color: var(--projCardFavBorder);
                }
            }
        }
    }

    &__cardLast {
        background-color: transparent;
        border: 2px solid var(--primary);
        h3 {
            color: var(--primary);
        }
        &:hover {
            background-color: var(--primary);
            border: 2px solid var(--primary-dark);
            h3 {
                color: var(--projCardFavText);
            }
            &:after {
                display: none;
            }
        }
    }
}