.categories {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    &__category {
        margin: 5px 10px;
        padding: 5px 10px;
        background-color: $--dark-darkElement;
        border: 2px solid $--dark-darkElement;
        &:hover {
            cursor: pointer;
        }
        &--active {
            background-color: $--dark-textMain;
            border: 2px solid $--dark-darkElement;
            color: $--dark-darkElement;
        }
    }
}


.projectsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width: 880px) {grid-template-columns: 1fr 1fr;}
    @media (max-width: 550px) {grid-template-columns: 1fr;}

    &__card {
        background-color: $--dark-darkElement;
        border: 3px solid $--dark-darkElement;
        padding: 1.5rem;
        margin: 0.5rem;
        display: grid;
        grid-template-rows: auto 1fr auto;
        position: relative;
        &__name {
            color: $--dark-textMain;
        }
        &__desc {
            color: $--dark-subText;
            margin-bottom: 2rem;
        }
        &__stacks {
            color: $--dark-lightElement;
            font-size: 12px;
            span {
                margin-right: 1rem;
            }
        }
        &:hover {
            border: 3px solid $--dark-textMain;
            cursor: pointer;
            &:after {
                content: '';
                position: absolute;
                top: 0px;
                right: 0px;
                border: 11px solid transparent;
                border-bottom-color: $--dark-textMain;
                transform: rotate(45deg);
            }
        }

        &--fav {
            background-color: $--main-color-0;
            border: 3px solid $--main-color-0;
            color: $--dark-textMain;
            .projectsGrid__card {
                &__name, &__desc, &__stacks {
                    color: $--dark-textMain;
                }
            }
            i {
                color: $--main-color-1;
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 1.2rem;
            }
            &:hover {
                border: 3px solid $--main-color-1;
                i {
                    display: none;
                }
                &:after {
                    border-bottom-color: $--main-color-1;
                }
            }
        }
    }

    &__cardLast {
        background-color: transparent;
        border: 3px solid $--main-color-0;
        color: $--dark-textMain;
        h3 {
            color: $--main-color-0;
        }
        &:hover {
            background-color: $--main-color-0;
            border: 3px solid $--main-color-1;
            h3 {
                color: $--dark-textMain;
            }
            &:after {
                display: none;
            }
        }
    }
}