.writingContent {    
    margin-bottom: 5rem;
    span {
        color: $--main-color-0;
        font-weight: 600;
    }
}

.writingBlog {
    margin: 3rem 0;
    &__name {
        color: $--dark-textMain;
    }
    &__date {
        margin-top: 0.5rem;
        overflow: hidden;
        padding-left: 5rem;
        color: $--dark-subText;
        &:before {
            background-color: $--dark-subText;
            content: "";
            display: inline-block;
            height: 1.1px;
            position: relative;
            vertical-align: middle;
            width: 50%;
            right: 0.5rem;
            margin-left: -50%;
        }
    }
    &:hover {
        cursor: pointer;
        h1 {
            color: $--main-color--1;
        }
        .writingBlog__date {
            color: $--main-color-0;
            &:before {
                background-color: $--main-color--1;
            }
        }
    }
}