@import "styles/variables.scss";

.Container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &>* {
        flex: 1;
    }

    @media (max-width: 700px) {
        flex-direction: column-reverse;
    }
}



.SubHeading {
    overflow: hidden;
    padding-left: 5rem;
    color: $--dark-heading;
    &:before {
        background-color: $--dark-heading;
        content: "";
        display: inline-block;
        height: 1.1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
        right: 0.5rem;
        margin-left: -50%;
    }
}


.Name {
    font-size: 4rem;
    color: $--dark-heading;
}


.BtnContainer {
    margin: $--padding-sm 0rem;
    .BtnRegular {
        background-color: $--main-color-0;
        padding: 5px 10px;
        border: 2px solid $--main-color-1;
        color: $--main-color--2;
        margin-right: $--padding-sm;
    }
    .BtnOutline {
        background-color: transparent;
        padding: 5px 10px;
        border: 2px solid $--main-color-0;
        color: $--main-color--2;
        margin-right: $--padding-sm;
    }
    button:hover {
        cursor: pointer;
    }
}