@import "styles/variables.scss";
$circle-size: 70rem;

.Container {
    padding: 0 $--padding-lg;
    @media (max-width: 700px) {
        padding: 0 $--padding-sm;
    }
}

.Circle {    
    position: absolute;
    bottom: 30%;
    right: 30%;
    width: $circle-size;
    height: $circle-size;
    background-color: $--dark-lightElement;
    z-index: -1;
    border-radius: 50%;
}