@import "styles/variables.scss";


.Container {
    margin: $--margin-section 0;
}
.Header {
    font-size: $--header-style;
    margin-bottom: $--padding-sm;
    color: $--dark-heading;
}
.Content {    
    margin-bottom: $--padding-sm;
    span {
        color: $--main-color-0;
        font-weight: 600;
    }
}


.Flexbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media (max-width: 880px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 550px) {
        grid-template-columns: 1fr;
    }    
    .Card {
        background-color: $--dark-darkElement;
        padding: 2rem 1.4rem;
        margin: 0.5rem;
        position: relative;
        .Number {
            position: absolute;
            top: 0px;
            left: 10px;
            font-size: 4rem;
            font-weight: 700;
            color: #5d5d5d69;
        }
        .Phase {
            color: $--dark-heading;
        }
    }
}