.aboutContainer {
    margin: $--margin-section 0;
    &__row {
        display: flex;
        margin: $--padding-lg 0;
        gap: $--padding-lg;
        @media (max-width: 700px) {
            flex-direction: column;
            gap: 3rem;
            margin: 3rem 0;
        }
    }
    &__col {
        flex: 1;
        span {
            color: $--main-color-0;
        }
    }
}