.expGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3rem;
    margin: var(--padding-lg) 0;
    @media (max-width: 850px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 550px) {
        grid-template-columns: 1fr;
        margin: var(--padding-lg) 2rem;
    }

    &__card {
        &__company {
            color: var(--textMain);
        }
        &__role {
            color: var(--text);
            font-weight: 400;
            margin-bottom: var(--padding-sm);
        }
        &__duration {
            color: var(--subText);
        }
    }
}