@import "styles/variables.scss";

.Container {
    margin: $--margin-section 0;
}
.Header {
    font-size: $--header-style;
    margin-bottom: $--padding-sm;
    color: $--dark-heading;
}
.Grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3rem;
    margin: $--padding-lg 0;
    @media (max-width: 850px) {
        grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 550px) {
        grid-template-columns: 1fr;
        margin: $--padding-lg 2rem;
    }
}

.Card {
    .Role {
        color: $--dark-subText;
        font-weight: 400;
        margin-bottom: $--padding-sm;
    }
    .Duration {
        color: $--dark-lightElement;
    }
}