$--dark-bg: #383838;
$--dark-darkElement: #1f1f1f;
$--dark-lightElement: #5d5d5d;

$--dark-heading: #ffffff;
$--dark-textMain: #dfdfdf;
$--dark-subText: #bdbdbd;

$--main-color-1: #0D7467;
$--main-color-0: #2a9d8f;
$--main-color--1: #88C8C0;
$--main-color--2: #DCEFED;

$--github: #00aced;
$--insta: #e4405f;
$--linkedIn: #007bb6;
$--mail: #dd4b39;

$--icon-light-color: #262626;
$--icon-light-bg-1: #fff;
$--icon-light-bg-2: #ddd;

$--icon-dark-color: #BDBDBD;
$--icon-dark-bg-1: #1f1f1f;
$--icon-dark-bg-2: #252525;