:root {
  --padding-sm: 1rem;
  --padding-lg: 4rem;
  --margin-section: 10rem;
  --card-radius: 10px;
  --bold: 700;
  --icon-bg-size: 2.5rem;
  --header-style: 3rem;
  --icon-size: 1.5rem;

  --mainContent-size: 1.3rem;
}
