@import "styles/variables.scss";


.Container {
    margin: 5rem;
}
.Header {
    font-size: $--header-style;
    margin-bottom: $--padding-sm;
    color: $--dark-heading;
    text-align: center;
}
.Credits {
    border: 2px dashed $--dark-lightElement;
    padding: 1rem;
    text-align: center;
    margin: 2rem 0;
}

.Content {
    padding: 2rem 3rem;
    position: relative;

    p {
        margin-bottom: 2rem;
    }

    .IntroContainer {
        margin: 3rem 0;
        .Number {
            position: absolute;
            top: 0px;
            left: 0px;
            font-size: 10rem;
            font-weight: 700;
            color: #2C2C2C;
            z-index: -1;
        }
        .Intro {
            border-left: 2px solid $--dark-textMain;
            padding-left: 1rem;
        }
    }
}