:root {
    --dark-bg: #383838;
    --dark-darkElement: #1f1f1f;
    --dark-lightElement: #5d5d5d;
    --dark-heading: #ffffff;
    --dark-textMain: #dfdfdf;
    --dark-subText: #bdbdbd;

    --padding-sm: 1rem;
    --padding-lg: 4rem;
    
    --bold: 700;
}